[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
# FIXME: `python-apt` seems to be broken with `pipenv`, raising
# "ModuleNotFoundError: No module named 'DistUtilsExtra'".
python-apt = "*"
python-debian = "*"
atomicwrites = "*"

[dev-packages]

[requires]
python_version = "3.7"
